/*
Theme Name: honeypress
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/honeypress
Author: SpiceThemes
Created by: Rajkamal (Scientech IT)
Copyright (c) 2018 honeypress
Date: Not mentioned
http://www.spicethemes.com
Name: orange.css
*/


blockquote {
	border-left: 4px solid #ee591f !important;
}
button,
input[type="button"],
input[type="submit"] {
	background-color: #ee591f !important;

}


.btn-default { background: #ee591f; }
.hero-section .btn-small.btn-default:hover {
    background: #fff;
}
.btn-light:hover, .btn-light:focus { background: #ee591f; }
.btn-default-dark { background: #ee591f;  }
.btn-border {  border: 2px solid #ee591f; }
.btn-border:hover, .btn-border:focus { background: #ee591f;  border: 2px solid #ee591f; }

.header-sidebar {
	background: #ee591f;
}

.cart-header > a .cart-total {
	background: #ee591f;
}

/*Slider Pointer*/
.pointer-scroll {
	background: #ee591f;
}

.owl-carousel .owl-prev:hover,
.owl-carousel .owl-prev:focus {
	background-color: #ee591f;
}
.owl-carousel .owl-next:hover,
.owl-carousel .owl-next:focus {
	background-color: #ee591f;
}

.section-separator {
    background: #ee591f;
}
.section-separator::before {
    background: #ee591f;
}

.section-separator::after {
    background: #ee591f;
}
.section-separator.white {
    background: #ffffff;
}
.section-separator.white::before {
    background: #ffffff;
}
.section-separator.white::after {
    background: #ffffff;
}
/*===================================================================================*/
/*	Mixed Classes
/*===================================================================================*/


.bg-default { background-color: #ee591f; }
.text-default { color: #ee591f; }
.entry-header .entry-title a:hover,
.entry-header .entry-title a:focus {
	color: #ee591f;
}

.services .post-thumbnail a {color: #ee591f; }
.services .post-thumbnail i.fa {
	background: #ee591f;
	box-shadow: #ee591f 0px 0px 0px 1px;
}

.services .post:hover .post-thumbnail i.fa {
	color: #ee591f;
}

.funfact-icon { color: #ee591f; }

.filter-tabs .nav-link:hover {
    color: #ee591f;
}

.portfolio .post p { color: #ee591f; }

.testmonial-block .avatar img {  box-shadow: #ee591f 0px 0px 0px 1px;  }

.testmonial-block .entry-content.quote:before {
    color: #ee591f;
}

.blog .standard-view .entry-meta .author a,
.blog .list-view .entry-meta .author a {
	color: #ee591f;
}

.blog .standard-view .more-link,
.blog .list-view .more-link {
    border: 2px solid #ee591f;
}

.blog .standard-view .more-link:hover,
.blog .standard-view .more-link:focus,
.blog .list-view .more-link:hover,
.blog .list-view .more-link:focus {
	background-color: #ee591f;
    border: 2px solid #ee591f;
}

.entry-meta a:hover, .entry-meta a:focus { color: #ee591f; }
.entry-meta .cat-links a, .entry-meta .tag-links a { color: #ee591f; }
.entry-meta .comment-links a::before { content: "\f0e5"; color: #ee591f; }
.entry-meta .tag-links a:hover, .entry-meta .tag-links a:focus {
    background-color: #ee591f;
    border: 1px solid #ee591f;
}

/*More Link*/
.more-link {
	border-bottom: 2px solid #ee591f;
}
.more-link:hover, .more-link:focus {
	color: #ee591f;
}


.pagination a:hover, .pagination a.active { background-color: #ee591f; border: 1px solid #ee591f; }
.pagination .nav-links .page-numbers.current {background-color: #ee591f; border: 1px solid #ee591f;}

.reply a {
    color: #ee591f;
}

.team-grid .position {  color: #ee591f; }

.woocommerce ul.products li.product .onsale, .woocommerce span.onsale{
    background: #ee591f;
}

.woocommerce ul.products li.product .button, .owl-item .item .cart .add_to_cart_button {
    background: #ee591f;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #ee591f !important;
}

.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce a.button, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, .woocommerce .cart input.button:focus, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background: #ee591f ;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #ee591f;
}
.woocommerce-message, .woocommerce-info {
    border-top-color: #ee591f;
}
.woocommerce-message::before, .woocommerce-info::before {
    color: #ee591f;
}
.woocommerce div.product .stock {
    color: #ee591f;
}
.woocommerce p.stars a {
    color: #ee591f;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #ee591f;
}

.added_to_cart.wc-forward
{
background: #ee591f;
}
.product-price > .woocommerce-loop-product__title a:hover,
.product-price > .woocommerce-loop-product__title a:focus {
	color: #ee591f;
}

.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link {
    color: #ee591f;
}

.widget .widget-title:after {
	background: #ee591f;
}
.widget_archive li:before, .widget_categories li:before, .widget_links li:before, .widget_meta li:before,
.widget_nav_menu li:before, .widget_pages li:before, .widget_recent_comments li:before, .widget_recent_entries li:before {
	color: #ee591f;
}
.widget button[type="submit"] {
    background-color: #ee591f;
	border-color: #ee591f;
}
.widget .tagcloud a:hover, .widget .tagcloud a:focus {
    background-color: #ee591f;
    border: 1px solid #ee591f;
}

/*Address*/
address i {
	color: #ee591f;
}

.footer-social-links {
	background: #ee591f;
}

.footer-sidebar .widget a:focus {
	color: #ee591f;
}

.site-info a:hover, .site-info a:focus { color: #ee591f; }

.page-breadcrumb > li:first-child:before { color: #ee591f; }

.company-info li:before { color: #ee591f; }


.contact-icon i.fa { color: #ee591f;  }
.contact-widget:hover .contact-icon i.fa { color: #ee591f;  }

.contact-widget address a:hover { color: #ee591f; }

.error-page .title i { color: #ee591f; }

.scroll-up a {
	background: #ee591f;
}
.scroll-up a:hover,
.scroll-up a:active {
	background: #ee591f;
}

/*.navbar .nav .dropdown-menu{
        border-bottom: 3px solid #ee591f !important;
}
*/
.nav .dropdown-item:focus, .nav .dropdown-item:hover {
    color: #ee591f;
}
@media (min-width: 992px){.navbar .nav .dropdown-menu {
    border-bottom: 3px solid #ee591f !important;}}


.nav .dropdown-item:focus, .nav .dropdown-item:hover {
    color: #ee591f;
}
.testimonial.bg-default .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot.active span {
    background-color: #ee591f;
}
.footer-social-links:before, .footer-social-links:after
{
 border-bottom: 30px solid #943d1b;
}
.woocommerce ul.products li.product .onsale, .products span.onsale
{
   background: #ee591f;
    border: 2px solid #ee591f;
}
.team-grid .img-holder .overlay
{
    background-color: rgba(238, 89, 31, 0.8);
}
.business .entry-header .entry-title a:hover, .entry-header .entry-title a:focus, .footer-sidebar .widget a:hover, .footer-sidebar .widget a:focus, .filter-tabs .nav-item.show .nav-link, .filter-tabs .nav-link.active, .filter-tabs .nav-link:hover, .widget a:hover, .widget a:focus, .standard-view.blog-single a:hover {
    color: #ee591f;
}
.page-breadcrumb > li:first-child:before { color: #ee591f; }

.trail-item.trail-end span {
    color: #ee591f;
}
.page-breadcrumb > li a:hover,
.page-breadcrumb > li.active { color: #ee591f; }
.entry-meta.mb-4 .comment-links:hover {
    color: #ee591f;
}
.portfolio .post .entry-title a:hover
{
  color: #ee591f;
}
.page-breadcrumb > li:first-child:before { color: #ee591f; font-family: fontAwesome; content: "\f015"; padding: 0 0.625rem 0 0; }
.page-breadcrumb > li a:hover,
.page-breadcrumb > li.active { color: #ee591f; }
.page-breadcrumb.text-center span a:hover {
    color: #ee591f;

}
.page-breadcrumb.text-center .breadcrumb_last
{
    color: #ee591f !important;
}
.woocommerce-loop-product__title:hover
{
    color: #ee591f;
}
.widget_layered_nav li a:before,.widget_product_categories li:before{
    color: #ee591f;
   }
.woocommerce .star-rating span::before {
    color: #ee591f;
}
.woocommerce .star-rating::before {
    color: #ee591f;
  }
 .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #ee591f;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #ee591f;
}
.woocommerce ul.product_list_widget li a:hover, .woocommerce ul.product_list_widget li a:focus, .woocommerce .posted_in a:hover, .woocommerce .posted_in a:focus {
   color: #ee591f;
}
body .woocommerce #respond input#submit, body .woocommerce a.button, body .woocommerce button.button, body .woocommerce input.button
{
background-color: #ee591f;
}
body .woocommerce #respond input#submit:hover, body .woocommerce a.button:hover, body .woocommerce button.button:hover, body .woocommerce input.button:hover
{
background-color: #ee591f;
}
.navbar-nav .show .dropdown-menu > .active > a, .navbar-nav .show .dropdown-menu > .active > a:hover, .navbar-nav .show .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #ee591f;
}
.search-form input[type="submit"]
{
    background: #ee591f none repeat scroll 0 0;
    border: 1px solid #ee591f;
}
@media (max-width: 991px){
.navbar .nav .search-box-outer .dropdown-menu {
    border-bottom: 3px solid #ee591f !important;
}
}

/** Service 2**/
.services3 .post-thumbnail i.fa, .services3 .post:hover
{
     background: #ee591f;
}

.services2 .post::before {
    background-color: #ee591f;
    }
.services2 .post-thumbnail i.fa, .services3 .post:hover .post-thumbnail i.fa, .services4 .post-thumbnail i.fa {
    color: #ee591f;
}

/** Testimonial 2**/
#testimonial-carousel2 .testmonial-block {
    border-left: 4px solid #ee591f;
}
#testimonial-carousel2 .testmonial-block:before {
    border-top: 25px solid #ee591f;
}

/** Team  **/
 .team2 .team-grid .details .custom-social-icons li > a:hover, .team3 .team-grid .position,  .team3 .team-grid .details .custom-social-icons li > a:hover, .team4 .team-grid .overlay .custom-social-icons li > a:hover  {
    color: #ee591f;
}
.honeypress-link-format .entry-content p
{
   color: #ee591f;
}
.honeypress-link-format .entry-content p:hover
{
   color: #000000;
}
#loadMore:hover
{
  color: #ee591f;
}
@media (min-width: 991px) {
    .navbar4 .header-lt::before {
         background-color: #ee591f;
    }
    .navbar4 .header-lt::after {
         background-color: #ee591f;
    }
    }
    @media (max-width: 991px) {
         .navbar4 .header-lt {
              background-color: #ee591f;
         }
    }
.navbar5.navbar .nav .nav-item:hover .nav-link, .navbar5.navbar .nav .nav-item.active .nav-link {
    background: #ee591f;
}
.navbar.navbar6 .navbar-nav > li.active > a:after,
.navbar.navbar6 ul li > a:hover:after {
    background: #ee591f;
}
.navbar.navbar6 .dropdown-item.active,.navbar.navbar6 .dropdown-item:active {
    color: #ee591f;
}
.navbar.navbar7 .nav .nav-item:hover .nav-link, .navbar.navbar7 .nav .nav-item.active .nav-link {
    color: #ee591f;
}
.services5 .post:hover{ border-bottom: 5px solid #ee591f; }
.services5 .post .post-thumbnail{ border: 10px solid #ee591f;}
.services5 .post .post-thumbnail:after{ background-color: #ee591f;}
.services5 .post:hover .entry-header .entry-title{ color: #ee591f; }
.services4.services6 .post{
    background: #ee591f;
}
.services7 .post-thumbnail i.fa, .services7 .post-thumbnail img {
    background: #ee591f;
    }
.services7 .post:hover {
    background-color: #ee591f;
    transition: 0.3s all;
}
.services7 .post:hover .post-thumbnail i.fa {
    color: #ee591f;
}
.services7 .post:hover .post-thumbnail i.fa, .services7 .post:hover .post-thumbnail img {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #c0c0c0;
}
/*update*/
.honeypress_header_btn {background-color: #ee591f;}
.eight .honeypress_header_btn:hover {background-color: #ee591f;}
.navbar.navbar7 .nav .nav-item.html:hover a, .navbar.navbar7 .nav .nav-item.html.active a {
    color: #ee591f;
}
.navbar5.navbar .nav .nav-item.html:hover a, .navbar5.navbar .nav .nav-item.html.active a {
    background: #ee591f;
}

.navbar .nav .nav-item.html:hover a, .navbar .nav .nav-item.html.active a {
    color: #ee591f;
}
.hw .honeypress_header_btn:hover, .hw .honeypress_header_btn:focus {
    background: #ee591f;
    color: #fff;
}
.navbar5.navbar .nav .nav-item.menu-html.menu-item:hover a, .navbar5.navbar .nav .nav-item.menu-html.menu-item.active a {
    background: #ee591f;
}
.navbar5 .nav-item .widget button[type="submit"]:hover, .navbar5 .nav-item .widget button[type="submit"]:focus {
    color: #fff;
    background-color: #ee591f !important;
    border-color: #ee591f !important;
}

.navbar6 .nav .nav-item.radix-html:hover a, .navbar6 .nav .nav-item.radix-html.active a{color: #ee591f;}
.navbar.navbar5 .nav-item .widget a:hover{color: #ee591f;}

.hp-preloader-cube .hp-cube:before {background: #ee591f;}
#preloader2 .square{background: #ee591f;}
/* Dark CSS */
body.dark .navbar .nav .nav-item .nav-link:hover, body.dark .navbar .nav .nav-item.active .nav-link {
    color: #ee591f;
}
body.dark .dropdown-item:focus, body.dark .dropdown-item:hover {
    color: #ee591f !important;
    background: #000000;
}
body.dark .text-dark {color: #ee591f !important;}
body.dark .dropdown-menu {background-color: #141414;color: #ee591f !important;}
body.dark .btn-light:hover , body.dark .btn-light:focus{
    background: #ee591f;
    color: #ffffff;
}
body.dark .services3 .entry-header .entry-title a:hover {
    color: #ee591f !important;
}
.entry-header .entry-title a:hover,
.entry-header .entry-title a:focus {
    color: #ee591f !important;
}
body.dark .entry-meta .comment-links a::before { content: "\f0e5"; color: #ee591f; }
body.dark .btn-default-dark {
    border: 2px solid #ee591f;
    color: #ffffff;
    background: transparent;
}
body.dark .btn-default-dark:hover , body.dark .btn-default-dark:focus {
    color: #ffffff !important;
    background: #ee591f;
}
body.dark .btn-default-dark:hover, body.dark .btn-default-dark:focus {background: #ee591f; color: #ffffff !important;}
body.dark .services .post-thumbnail i.fa {
    box-shadow: #ee591f 0px 0px 0px 2px;
}
body.dark .blog .standard-view .more-link:hover, body.dark .blog .list-view .more-link:hover {
    color: #ffffff;
    background: #ee591f;
}
body.dark .navbar .nav .nav-item .nav-link:hover, body.dark .navbar .nav .nav-item.active .nav-link {
    color: #ee591f;
}
body.dark .search-box-outer .dropdown a:hover{color:#ee591f !important; }
body.dark .search-form input[type="submit"] {
    background-color: #ffffff !important;
    color: #000000;
}
body.dark .search-form input[type="submit"]:hover {
    background: #ee591f !important;
    color: #ffffff;
}
body.dark mark, body.dark ins {
    background: transparent;
}
body.dark .header-sidebar.five {
    background: #ee591f;
}
body.dark .services4.services6 .entry-header .entry-title a:hover, body.dark .services4.services6 .entry-header .entry-title a:focus {
    color: #ee591f !important;
}
body.dark .pagination a:hover, body.dark .pagination a.active {
    background-color: #ee591f;
    border: 1px solid #ee591f;
    color: #fff;
}
body.dark input[type="submit"]:hover {
    background: #ee591f !important;
    color: #ffffff;
}
body.dark .text-default { color: #ee591f ; }
body.dark .entry-meta .tag-links a:hover {
    background-color: #ee591f;
    border: 1px solid #363636;
    color: #ee591f;
}
body.dark .open .search-form input[type="submit"] {
    background-color: #ee591f !important;

}
body.dark .bg-light.open .search-form input[type="submit"]:hover {
    background-color: #000 !important;
}
body.dark .open .search-form input[type="submit"]:hover {
    background-color: #4e4a4a !important;
}
body.dark .woocommerce-Tabs-panel input[type="submit"]:hover {background-color: #ee591f !important; }
body.dark .btn-border:hover, body.dark .btn-border:focus{background: #ee591f;}
body.dark .navbar .nav .nav-item.html:hover a, body.dark .navbar .nav .nav-item.html.active a {
    color: #ee591f;
}
body.dark .widget .tagcloud a:hover, body.dark .nav-item .widget .tagcloud a:focus{background:#ee591f !important;}

/*=======  WORDPRESS 5.8 WIDGET CSS ========*/
.wp-block-search .wp-block-search__label:after,.widget h1:after,.widget h2:after,.widget h3:after,.widget h4:after,.widget h5:after,.widget h6:after {
    background: #ee591f;
}
.widget li::before {
	color: #ee591f;
}
.widget .tag-cloud-link:hover, .widget .tag-cloud-link:focus {
    background-color: #ee591f;
    border: 1px solid #ee591f;
}
.site-footer .widget .tag-cloud-link:hover { background-color: #ee591f;}

nav.rank-math-breadcrumb a:hover {  color: #ee591f; }
.navxt-breadcrumb.text-center span.post-page.current-item,
.navxt-breadcrumb.text-center span.post-post.current-item {
   color: #ee591f;
}
.navxt-breadcrumb .current-item {
    color:#ee591f;
}
.navxt-breadcrumb.text-center span a:hover { color: #ee591f; }  
.woocommerce-loop-product__title:hover, .woocommerce-cart .wp-block-woocommerce-cart-line-items-block a:hover,
.woocommerce-cart .wp-block-cart-cross-sells-product__product-title a:hover {
    color: #ee591f;
}
.woocommerce-page table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link,
.woocommerce-page table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link:hover{
    color: #ee591f;
}
.woocommerce-page .wc-block-components-checkout-place-order-button, .woocommerce-page .wc-block-cart__submit-button {
    background-color: #ee591f !important;
}
.woocommerce-page .cross-sells-product .wp-block-cart-cross-sells-product__product-add-to-cart .add_to_cart_button{
    background-color: #ee591f;
}
.woocommerce-page .wc-block-components-totals-coupon__content .wc-block-components-totals-coupon__button,
.wp-block-cart-cross-sells-product__product-add-to-cart .add_to_cart_button {
    border-radius: 0;
    background-color: #ee591f !important;
}